dist
build
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Other
mean_models_koenig_et_al_2002.asc
mean_models_koenig_et_al_2002_chlist.asc
*koenig*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.user
*.hdf
*.pyc
*.htm
*.ldf
TestResults/keypy.TE.Tests.mdf
*.tmp
tests/4_microstates/data/test13_private/01.dat
tests/4_microstates/data/test13_private/correct_output_test13.asci
*.hdf5

tests/6_sortmaps/data/sortby/mean_models_milz_etal_2015_reduced.asc
tests/7_parameters/data/sortby/mean_models_milz_etal_2015_reduced.asc
tests/7_parameters/data/sortby/mean_models_milz_etal_2015/