dist
build
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Other
mean_models_koenig_et_al_2002.asc
mean_models_koenig_et_al_2002_chlist.asc
*koenig*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.user
*.hdf
*.pyc
*.htm
*.ldf
*.tmp
*.hdf5
*.csv

*.pyproj

# Tests based on private datasets
tests/4_microstates/data/test13_private/
tests/4_microstates/scripts/test13_mstates_private.py
tests/5_modelmaps/data/test14_private/
tests/5_modelmaps/scripts/test14_mstates_private.py
tests/5_modelmaps/data/test15_private/
tests/5_modelmaps/scripts/test15_mstates_private.py
tests/6_sortmaps/data/test16_private/
tests/7_parameters/scripts/test16_mstates_private.py
tests/6_sortmaps/data/test17_private/
tests/7_parameters/data/test16_private/
tests/7_parameters/data/test16_output/
tests/7_parameters/scripts/test16_mstates_private.py
tests/7_parameters/data/test17_private/
tests/7_parameters/data/test17_output/
tests/7_parameters/scripts/test17_mstates_private.py

# Test Outputs
TestResults/keypy.TE.Tests.mdf
example/data/sortby/mean_models_milz_etal_2015_reduced.asc
tests/6_sortmaps/data/sortby/mean_models_milz_etal_2015_reduced.asc
tests/7_parameters/data/sortby/mean_models_milz_etal_2015_reduced.asc
tests/6_sortmaps/data/test11_output/
tests/6_sortmaps/data/test16_output/

# Preliminary scripts / functions
keypy/io/read_binary.py










