asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
blinker==1.4
cached-property==1.5.2
certifi==2018.1.18
chardet==3.0.4
click==6.7
cloud-init==21.1
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
distro-info===0.18ubuntu0.18.04.1
h5py==3.1.0
httplib2==0.19.0
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
Jinja2==2.10
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
MarkupSafe==1.0
netifaces==0.10.4
numpy==1.19.5
oauthlib==2.0.6
